* {    padding: 0;    margin: 0;    box-sizing: border-box;   }

body{
  font-family: Helvetica;
  display: grid;
  grid-template-rows: 5% 1fr;
  height: auto;
}

.nav {
  width: 100%;
  height: 10vh;
  display: inline-grid;
  grid-template-columns: 20% 1fr 1fr 1fr 20%;
}

ul.nav-ul>li {
  display: inline-block;
}

.route-container {
  background-color: aqua;
  display: grid;
  
  
  margin: 0;
  padding: 0;
  
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 1fr; 
  background-color: #e1e1e1;  
  background-color: #0e0e07;
  background-color: #661437;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%232a35e4' fill-opacity='0.85'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  height: 90vh;
}

.image-container {
  height: 60%;
  background-color: white;
  grid-column-start: 2;
  grid-column-end: 3;
  border: solid;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 15% 70% 15%;
  
}
.image-route>img {
  grid-column-start: 1;
  grid-column-end: 2;
  object-fit: contain;
  width: 100%;
  height: auto;
}

.item-1 {
  grid-column-start: 2;

}

.like-button {
	box-shadow:inset 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border:3px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family: Helvetica;
	font-size: 15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffee66;
}
.like-button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.like-button:active {
	position:relative;
	top:1px;
}

.image-container>section.comment-bar{
  grid-row-start: 3;
  grid-column-start:2;
}

.user-route{
  width: 100%;
  display: grid;
  grid-template-rows: 10% 1fr;
}

.user-head { 
  display: flex;
  width: 60%;
  grid-row-start:1;
  grid-row-end: 2;

}


.user-asset-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.all-route{
  
  grid-column-start: 2;
  grid-column-end: 3;
  background: rgba(220,220,220, .6)
}

