.nav {
  width: 100%;
  height: 5%;
  display: inline-grid;
  grid-template-columns: 20% 1fr 1fr 1fr 20%;
}

ul.nav-ul>li {
  display: inline-block;
}

.media-container {
  width: 100%;
}

.item-1 {
  grid-column-start: 2;
}

.like-button {
	box-shadow:inset 0px 0px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border:3px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Georgia;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffee66;
}
.like-button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.like-button:active {
	position:relative;
	top:1px;
}